<!-- Bohyun Kim, #301131832, COMP 229, Section 008 -->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="title text-center my-5">
    <h1>Survey List</h1>
 </div>


<!-- I'm going to make survey list here after database is set up -->
 

<a href="/survey-list/add" class="btn btn-primary" role="button">
    <i class = "fas fa-plus-circle"></i> Create Survey</a>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>